@charset "UTF-8";
body {
  color: #555;
  word-break: break-all;
  font-size: 18px;
  font-family: "Palatino", "凸版文久明朝", serif;
  line-height: 1.8;
}

main {
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

h1, h2 {
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: normal;
  font-family: "Parisienne", serif;
  font-size: 120px;
  line-height: 1;
}

.site-title {
  margin-top: 50px;
  color: #000;
  text-align: center;
  font-size: 110px;
}
@media screen and (max-width: 480px) {
  .site-title {
    margin-top: 60px;
    font-size: 40px;
  }
}

.blog_list {
  margin-top: 120px;
}
@media screen and (max-width: 480px) {
  .blog_list {
    margin-top: 35px;
  }
}
.blog_item {
  margin: 0 auto 160px;
  padding: 0 4%;
  max-width: 1350px;
}
@media screen and (max-width: 480px) {
  .blog_item {
    margin-bottom: 40px;
  }
}
.blog_item a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog_item a:hover {
  opacity: 0.7;
}
.blog_item a .blog_text {
  z-index: 5;
  margin-right: -90px;
}
.blog_item:nth-child(2n) a {
  flex-direction: row-reverse;
}
.blog_item:nth-child(2n) a .blog_text {
  margin-right: 0;
  margin-left: -130px;
  text-align: right;
}
.blog_text {
  position: relative;
  display: inline-block;
  background: linear-gradient(currentColor 0 0) bottom/var(--d, 0) 2px no-repeat;
  transition: 0.5s;
}
.blog_text:hover {
  --d: 100%;
}
@media screen and (max-width: 480px) {
  .blog_text {
    width: 60%;
  }
}
.blog_text h2 {
  color: #000;
  text-shadow: 6px 5px 5px #fff;
  font-size: 70px;
  font-family: "Palatino", "凸版文久明朝", serif;
}
@media screen and (max-width: 480px) {
  .blog_text h2 {
    font-size: 20px;
  }
}
.blog_text p {
  font-size: 35px;
}
@media screen and (max-width: 480px) {
  .blog_text p {
    font-size: 12px;
  }
}
.blog_img {
  width: 73%;
  height: 650px;
}
@media screen and (max-width: 480px) {
  .blog_img {
    width: 70%;
    height: 170px;
  }
}
.blog_img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes txtnav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes txtnav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
footer {
  margin: 400px auto 70px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  footer {
    margin: 100px 0 20px;
  }
}