@charset "UTF-8";
body {
  color: #555;
  word-break: break-all;
  font-size: 18px;
  font-family: "Palatino", "凸版文久明朝", serif;
  line-height: 1.8;
}

main {
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

h1, h2 {
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: normal;
  font-family: "Parisienne", serif;
  font-size: 120px;
  line-height: 1;
}

.slick-slide {
  margin: 0 20px;
}
.slick-list {
  padding: 0 0 10px 0;
}
.slick-prev, .slick-next {
  position: absolute;
  top: 42%;
  cursor: pointer;
  outline: none;
  border-top: 2px solid #CDC9CA;
  border-right: 2px solid #CDC9CA;
  height: 15px;
  width: 15px;
}
.slick-prev {
  left: -1.5%;
  transform: rotate(-135deg);
}
.slick-next {
  right: -1.5%;
  transform: rotate(45deg);
}
.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}
.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slick-dots button {
  color: transparent;
  outline: none;
  border: none;
  width: 8px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background: #CDC9CA;
}

.site_title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
@media screen and (max-width: 480px) {
  .site_title {
    margin-top: 150px;
  }
}
.site_title h1 {
  color: #000;
}
@media screen and (max-width: 480px) {
  .site_title h1 {
    font-size: 100px;
  }
}

.photo_list .inner {
  width: 80%;
  margin: 0 auto;
}
.photo_list .inner .section_title {
  font-size: 65px;
  margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .photo_list .inner .section_title {
    font-size: 50px;
  }
}
.photo_list .inner .slider {
  width: 95%;
  margin: 0 auto;
}
.photo_list .inner .slider_img {
  width: 100%;
  height: 250px;
}
.photo_list .inner .slider_img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.photo_list .inner .slider_txt {
  box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.1);
  width: auto;
  height: auto;
  padding-left: 8px;
}
.photo_list .inner .slider_txt h3 {
  padding-top: 16px;
  margin-bottom: 24px;
  font-size: 14px;
}
.photo_list .inner .slider_txt p {
  padding-bottom: 16px;
  font-size: 14px;
}

.spring .section_title {
  color: #E3A4B4;
}
.spring .slick-dots .slick-active button {
  background: #E3A4B4;
}

.summer .section_title {
  color: #F5A909;
}
.summer .slick-dots .slick-active button {
  background: #F5A909;
}

.autumn .section_title {
  color: #A57027;
}
.autumn .slick-dots .slick-active button {
  background: #A57027;
}

.winter .section_title {
  color: #C1D3E9;
}
.winter .slick-dots .slick-active button {
  background: #C1D3E9;
}

footer {
  margin-top: 120px;
  margin-bottom: 70px;
  text-align: center;
}