@import "config";

body {
  color: $cFont;
  word-break: break-all;
  font-size: 18px;
  font-family: $font;
  line-height: 1.8;
}

main {
  width: 100%;
}

a {
  color: $cBlack;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

h1,h2 {
  color: $cWhite;
  letter-spacing: 0.05em;
  font-weight: normal;
  font-family: 'Parisienne', serif;
  font-size: 120px;
  line-height: 1;
}
