$cFont: #555;
$cBlack: #000;
$cWhite: #fff;
$cPink: #E3A4B4;
$cOrange: #F5A909;
$cBrown: #A57027;
$cSilver: #C1D3E9;
$cGray: #666;
$cGray_pale: #ECECEC;
$cDot: #CDC9CA;
$cArrow: #888686;
$cPhoto_bg: #f5f5f3;

$font: 'Quicksand', '筑紫A丸ゴシック',serif;