@charset "UTF-8";

@import "base";
@import "config";
@import "mixin";
@import "slick_index";

body {
  position: relative;
}
header {
  .header_list {
    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 10;
    li {
      display: inline-block;
      margin-right: 20px;
      @include mq(sp){
        font-size: 14px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

footer{
  font-size: 12px;
  letter-spacing: 0.1em;
}

