@charset "UTF-8";

@import "base";
@import "config";
@import "mixin";

body {
  position: relative;
}

.openbtn {
  position: fixed;
  z-index: 9999;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: $cWhite;
  cursor: pointer;

  span {
    position: absolute;
    left: 14px;
    display: inline-block;
    width: 45%;
    height: 2px;
    border-radius: 5px;
    background-color: $cBlack;
    transition: all .4s;

    &:nth-of-type(1){
      top: 13px;
    }
    &:nth-of-type(2){
      top: 19px;
    }
    &:nth-of-type(3){
      top: 25px;
      &::after {
        position: absolute;
        top: 5px;
        left: -2px;
        color: $cBlack;
        content: "menu";
        text-transform: uppercase;
        word-break: normal;
        font-size: 0.6rem;
      }
    }
  }

  &.active span:nth-of-type(1){
    top: 14px;
    left: 18px;
    width: 30%;
    transform: translateY(6px) rotate(-45deg);
  }
  &.active span:nth-of-type(2){
    opacity: 0;
  }
  &.active span:nth-of-type(3){
    top: 26px;
    left: 18px;
    width: 30%;
    transform: translateY(-6px) rotate(45deg);
    &::after {
      top: 5px;
      left: 4px;
      content: "Close";
      transform: translateY(0) rotate(-45deg);
    }
  }
}

#g-nav{
  position: fixed;
  top: 0;
  right: -120%;
  z-index: 999;
  width: 30%;
  height: 100vh;
  background-color: $cGray_pale;
  transition: all 0.6s;
  @include mq(sp){
    width: 40%;
  }

  &.panelactive {
    right: 0;
  }
    
  ul {
    margin-top: calc(50vh - 110px);
    
    li {
      text-align: center;
      
      a {
        display: block;
        padding: 10px;
        color: $cBlack;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
      }
    }
  }
}

footer{
  letter-spacing: 0.01em;
  font-size: 12px;
}

.fadeIn {
  animation: fadeInAnime 1s forwards;
  opacity: 0;
}

.fadeInTrigger {
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blur {
  animation-name: blurAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes blurAnime{
  from{
    filter: blur(10px);
    transform: scale(1.02);
    opacity: 0;
  }
  to{
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}

.blurTrigger {
  opacity: 0;
}

.slide-in {
  overflow: hidden;
  display: inline-block;
}

.slide-in_inner{
  display: inline-block;
}

.leftAnime {
  opacity: 0;
}

.slideAnimeLeftRight{
  animation-name: slideTextX100;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideTextX100 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideAnimeRightLeft{
  animation-name: slideText-X100;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideText-X100 {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeUpTrigger {
  opacity: 0;
}

@keyframes fadeUpAnime{
  from{
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}