@import "../base";
@import "../config";
@import "../mixin";

.site-title {
  margin-top: 50px;
  color: $cBlack;
  text-align: center;
  font-size: 110px;

  @include mq(sp){
    margin-top: 60px;
    font-size: 40px;
  }
}

.blog {
  &_list {
    margin-top: 120px;

    @include mq(sp){
    margin-top: 35px;  
    }
  }
  &_item{
    margin: 0 auto 160px; 
    padding: 0 4%;
    max-width: 1350px;
    @include mq(sp){
      margin-bottom: 40px;
    }

    a{
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.7;
      }
      .blog_text {
        z-index: 5;
        margin-right: -90px;
        }
      }
      &:nth-child(2n) a{
        flex-direction: row-reverse;
        .blog_text {
          margin-right: 0;
          margin-left: -130px;
          text-align: right;
        }
      }
    }
    &_text {
      position: relative;
      display: inline-block;
      background: 
        linear-gradient(currentColor 0 0)
        bottom/var(--d, 0) 2px
        no-repeat;
      transition: 0.5s;
      &:hover {
        --d: 100%;
      }

      @include mq(sp){
        width: 60%;
      }

      h2 {
        color: $cBlack;
        text-shadow: 6px 5px 5px $cWhite;
        font-size: 70px;
        font-family: $font;

        @include mq(sp){
          font-size: 20px;
        }
      }
      p {
        font-size: 35px;

        @include mq(sp){
          font-size: 12px;
        }
      }
    }
    &_img {
      width: 73%;
      height: 650px;

      @include mq(sp){
        width: 70%;
        height: 170px;
      }
      img{
        height: 100%;
        object-fit: cover;
      }
    }
}

@keyframes txtnav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

footer {
  margin: 400px auto 70px;
  text-align: center;
  @include mq(sp){
    margin: 100px 0 20px;
  }
}