@import "../base";
@import "../config";
@import "../mixin";

.site-title {
  margin-top: 50px;
  color: $cBlack;
  text-align: center;
  text-shadow: 2px 4px 3px $cGray;
  font-size: 110px;

  @include mq(sp){
    margin-top: 60px;
    font-size: 40px;
  }
}

.blog {
  width: 100%;

  &_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    height: 1200px;
    margin: 120px 10% 0;

    @include mq(sp){
    height: 1400px;
    width: 100%;
    margin: 35px auto 0;
    }
  }
  &_item{
    margin: 0 auto 80px;
    padding: 0 4%;
    max-width: 1350px;

    @include mq(sp){
      margin-bottom: 40px;
    }
    a{
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.7;
      }
      .blog_text {
        z-index: 5;
        margin-right: -90px;
        }
      }
      &:nth-child(3n+2) a{
        flex-direction: row-reverse;
        .blog_text {
          margin-right: 0;
          margin-left: -130px;
          text-align: right;
        }
      }
      @include mq(sp){
        &:nth-child(3n+2) a{
          flex-direction: row;
          .blog_text {
            margin-right: -90px;
            margin-left: 0;
            text-align: left;
          }
        }
        &:nth-child(2n) a{
          flex-direction: row-reverse;
          .blog_text {
            margin-right: 0;
            margin-left: -100px;
            text-align: right;
          }
        }
      }
    }
    &_text {
      width: 60%;
      position: relative;
      display: inline-block;
      background: 
        linear-gradient(currentColor 0 0)
        bottom/var(--d, 0) 2px
        no-repeat;
      transition: 0.5s;

      @include mq(sp){
        width: 60%;
      }
      &:hover {
        --d: 100%;
      }

      h2 {
        color: $cBlack;
        text-shadow: 6px 5px 5px $cWhite;
        font-size: 42px;
        font-family: $font;

        @include mq(sp){
          font-size: 16px;
        }
      }
      p {
        font-size: 26px;

        @include mq(sp){
          font-size: 12px;
        }
      }
    }
    &_img {
      margin-right: 5%;
      width: 73%;
      height: 300px;

      @include mq(sp){
        width: 70%;
        height: 170px;
      }
      img{
        height: 100%;
        border-radius: 8px;

        object-fit: cover;
      }
    }
}

@keyframes txtnav {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

footer {
  margin: 100px auto 70px;
  text-align: center;

  @include mq(sp){
    margin: 100px 0 20px;
  }
}