@import "../base";
@import "../config";
@import "../mixin";

.blog {
  &_detail{
    margin-top: 70px;
    @include mq(sp){
      margin-top: 60px;
    }
    .inner {
      max-width: 1100px;
      margin: 0 auto;
      padding:  0 4%;
      display: flex;
      justify-content: space-between;
      
      @include mq(sp){
        display: block;
      }

    }
  }

  &_mainvisual {
    width: 50%;

    @include mq(sp){
      width: 100%;
    }
    img{
    object-fit: cover;
    object-position: center right;
    height: 80vh;
    @include mq(sp){
      height: 280px;
    }
  }
  }

  &_txt {
    width: 40%;
    color: $cBlack;
    @include mq(sp){
      width: 100%;
    }
    h1 {
      color: $cBlack;
      font-weight: normal;
      font-family: $font;
      font-size: 40px;
      line-height: 1.2;
      margin-bottom: 30px;
      @include mq(sp){
        margin: 40px 0 25px;
        font-size: 18px;
        line-height: 1.5;
      }
    }
    p{
      font-size: 20px;
      line-height: 1.6;
      @include mq(sp){
        font-size: 13px;
        line-height: 1.4;
      }
    }
  }

  &_link {
    color: $cBlack;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(sp){
      margin-top: 40px;
    }
    a{
      font-size: 28px;
      @include mq(sp){
        font-size: 12px;
      }
    }
    .center{
      margin: 0 85px;
      a {
        font-size: 34px;
      }
      @include mq(sp){
        margin: 0 25px;
        a {
          font-size: 16px;
        }
      }
    }
  }
}

footer {
  margin:  330px auto 90px;
  text-align: center;
  @include mq(sp){
    margin: 90px 0 20px;
  }
}