@import "../base";
@import "../config";
@import "../mixin";

body {
  background: linear-gradient(20deg, rgb(255, 255, 255) 0%, rgb(247, 138, 160) 70%, rgba(239, 146, 156) 100%);
}

.contact {
  margin-top: 200px;
  padding: 0 4%;
  @include mq(sp){
    margin-top: 80px;
  }

  .inner {
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: 780px;
    width: 100%;
    background: $cWhite;
    @include mq(sp){
      padding-bottom: 40px;
    }
    
    .site-title {
      margin-bottom: 30px;
      padding-top: 60px;
      color: $cBlack;
      text-align: center;
      font-size: 60px;

      @include mq(sp){
        padding-top: 55px;
        font-size: 35px;
      }
    }
  }

  &_form {
    margin: 0 auto;
    width: 85%;

    &_title {
      margin-left: 13%;
      width: 26%;
      height: 100%;
      font-size: 16px;
      @include mq(sp){
        margin-bottom: 4px;
        margin-left: 0;
      }
    }
    &_box {
      padding-left: 8px;
      width: 310px;
      height: 40px;
      border-width: 1px;
      background: $cGray_pale;
      font-size: 16px;
      @include mq(sp){
        width: 99%;
        padding-left: 0;
        margin-bottom: 10pxpx;
      }
    }
    &_textarea{
      margin-bottom: 40px;
      padding: 7px;
      width: 310px;
      height: 180px;
      background: $cGray_pale;
      font-size: 16px;
      @include mq(sp){
        width: 94%;
        height: 200px;
        margin-bottom: 20px;
      }
    }
  }

  &_box {
    display: flex;
    margin-bottom: 25px;
    @include mq(sp){
      flex-direction: column;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &_button {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    background: $cBlack;
    color: $cWhite;
    font-size: 20px;
    font-family: $font;
    cursor: pointer;
    border: none;
    transition: all .5s;
    @include mq(sp){
      height: 30px;
      width: 130px;

    }
    &:hover {
      background: $cWhite;
      color: $cBlack;
    }
  }
}

footer {
  margin-top: 120px;
  margin-bottom: 70px;
  color: $cWhite;
  text-align: center;
  @include mq(sp){
    margin: 35px 0;
  }
}