@import "../base";
@import "../config";
@import "../mixin";
@import "../slick_index";
@import "../scrollfy";

.mainvisual {
  height: 100vh;

  @include flex-center;
  
  &_wrapper {
    position: relative;
    z-index: 2;
    text-align: center;

    @include mq(sp){
      h1 {
        font-size: 40px;
      }
    }
    
    small{
      color: $cWhite;
      letter-spacing: 0.4em;
      font-size: 20px;

      @include mq(sp){
        letter-spacing: 0.3em;
        font-size: 26px;
      }
    }
  }
}

.fadeIn {
  animation: fadeInAnime 1s forwards;
  opacity: 0;
}

.fadeInTrigger {
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about {
  position: relative;
  background-image: url("/images/spring/sakura.jpg");
  background-position: center;
  background-repeat: no-repeat;

  @include top-bg;
  @include mq(sp){
    @include flex-center;
  }

  &_wrapper {
    position: absolute;
    top: 22%;
    left: 5%;
    display: inline-block;
    padding: 3%;
    background-color: rgba($color: #fff, $alpha: 0.8);

    @include mq(sp){
      position: static;
      padding: 15%;
    }
  }
  &_txt {
    width: 220px;
  }

  &_title {
    margin-bottom: 60px;
    color: $cFont;
    text-align: center;
    font-size: 24px;
    small{
      display: block;
      margin-bottom: 20px;
      font-size: 16px;
    }
  }
  
  .first-txt {
    margin-bottom: 60px;
  }
  p {
    line-height: 1.5;
  }
}

.top-visual {
  background-position: center;
  background-repeat: no-repeat;

  @include top-bg;
  @include flex-center;
  &_wrapper {
    text-align: center;
    .section_title{
      margin-bottom: 80px;

      @include mq(sp){
        margin-bottom: 100px;
        font-size: 75px;
      }
    }
    .button {
      display: inline-block;
      padding: 18px 80px;
      border: 1px solid $cWhite;
      border-radius: 32px;
      color: $cWhite;
      transition: all 0.5s ease-out;
      &:hover {
        border: transparent;
        background: linear-gradient(90deg, #a24ed6 0%, #7e74c1 34%, #509cab 70%, #2abe99 100%);
        background-position: 1% 50%;
        background-position: 70% 50%;
        background-size: 200% auto;
      }
    }
  }
}

.spring {
  background-image: url("/images/spring/haru.jpg");
}
.summer {
  background-image: url("/images/summer/summer.jpg");
}
.autumn {
  background-image: url("/images/autumn/fall.jpg");
}
.winter {
  background-image: url("/images/winter/fuyu.jpg");
}


footer {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 90px);
  z-index: 5;
  letter-spacing: 0.1em;
}

