@import "../base";
@import "../config";
@import "../mixin";
@import "../slick_photo";

body {
  background-color: $cPhoto_bg;
}

.site_title {
  margin-top: 80px;
  margin-bottom: 100px;
  text-align: center;
  text-shadow: 2px 4px 3px $cGray;

  @include mq(sp){
    margin-top: 120px;
  }
  h1 {
    color: $cBlack;

    @include mq(sp){
      font-size: 100px;
    }
  }
}


.photo_list {
  
  .inner {
    margin: 0 auto;
    width: 80%;
    .section_title{
      margin: 80px 0 30px;
      text-shadow: 1px 2px 5px $cGray;
      font-size: 65px;

      @include mq(sp){
        margin-bottom: 80px;
        font-size: 60px;
      }
    }
    
    .slider {
      margin: 0 auto;
      width: 95%;
      &_img{
        width: 100%;
        height: 250px;
        img{
          height: 100%;
          border-radius: 8px;

          object-fit: cover;
        }
      }
      &_txt{
        padding-left: 8px;
        width: auto;
        height: auto;
        border-radius: 8px;
        background-color: $cWhite;
        box-shadow: 4px 4px 8px 0px rgba(0,0,0,.1);
        h3 {
          margin-bottom: 24px;
          padding-top: 16px;
          font-size: 14px;
        }
        p {
          padding-bottom: 16px;
          font-size: 14px;
        }
      }
    }
  }
}

.spring {
  .section_title {
    color: $cPink;
  }
  .slick-dots .slick-active button {
    background: $cPink;
  }
}

.summer {
  .section_title {
    color: $cOrange;
  }
  .slick-dots .slick-active button {
    background: $cOrange;
  }
}

.autumn {
  .section_title {
    color: $cBrown;
  }
  .slick-dots .slick-active button {
    background: $cBrown;
  }
}

.winter {
  .section_title {
    color: $cSilver;
  }
  .slick-dots .slick-active button {
    background: $cSilver;
  }
}

footer {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}