// 大きさ用





// spacing
$spacing_0: 0;
$spacing_half: 4px;
$spacing_1: 8px;
$spacing_2: 16px;
$spacing_3: 24px;
$spacing_4: 32px;
$spacing_5: 48px;
$spacing_6: 64px;
$spacing_7: 96px;
$spacing_8: 128px;
$spacing_9: 192px;
$spacing_10: 256px;


// 余白ベース
$spacing_80: 80px;
$spacing_48: 48px;
$spacing_40: 40px;