// サイトコンテンツスタイル用
// index.html用
@charset "utf-8";

#splash {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  position: fixed;
  z-index: 9999;
}

#splash_text {
  width: 100%;
  color: #fff;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
}

#splash_text svg {
  height: 2px;
}

.loaderBg {
  width: 100%;
  height: 50%;
  background: #017490;
  transform: scaleY(1);
  transition: all 0.2s cubic-bezier(0.04, 0.4, 0.3, 0.9);
}

.loaderBg-up {
  transform-origin: center top;
}

.loaderBg-down {
  transform-origin: center bottom;
  position: absolute;
  bottom: 0;
}

.coveranime {
  transform: scaleY(0);
}

.btnGradient {
  padding: 15px 70px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 25px;
  display: inline-block;
  transition: all 0.4s ease-out;
}

#summer .btnGradient {
  color: #fff;
  border-color: #fff;
}

.btnGradient:hover,
#summer .btnGradient:hover {
  color: #fff;
  border-color: transparent;
  background: linear-gradient(100deg, #3caee8 0%, #9844b7 30%, #23cc83 100%);
  background-size: 200% auto;
  background-position: right center;
  box-shadow: 0 5px 10px rgba(250, 120, 140, 0.4);
}

#slider {
  width: 100%;
  height: 100vh;
}

// .modaal-overlay {
//   background: linear-gradient(45deg, rgba(100, 160, 200, 0.8),rgba(240, 100, 121, 0.9)) !important;
// }

.none {
  display: none;
}

// .modaal-fullscreen .modaal-content-container {
//   color: #fff;
//   text-align: center;
//   background: linear-gradient(45deg, rgba(88, 182, 211, 0.9),rgba(229, 93, 135, 0.9));
// }

// .modaal-fullscreen .modaal-close {
//   background: none;
//   right: 20px;
// }

// .modaal-close:focus:after,
// .modaal-close:focus:before,
// .modaal-close:hover:after,
// .modaal-close:hover:before {
//   background: #666;
// }

// .picTitle {
//   padding: 10px 0;
//   display: block;
// }

// .modaal-content-container img {
//   width: 100%;
//   max-width: 660px;
//   height: auto;
//   border: 7px solid #fff;
// }

.blur {
  animation: blurAnime 1s forwards;
}

@keyframes blurAnime {
  from {
    transform: scale(1.1);
    opacity: 0;
    filter: blur(8px);
  }

  to {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
  }
}

.eleIn {
  opacity: 0;
}

.textSepa{
  margin-bottom: 60px;
}

.textSepa span {
  opacity: 0;
}

.textSepa.in span {
  animation: text_anime_on 1s ease-out forwards;
}

@keyframes text_anime_on {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.box {
  padding: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

#season {
  background: url("../images/spring/sakura.jpg") no-repeat center / cover;
}

#season.box {
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  #season.box {
    justify-content: center;
  }
}

#spring {
  background: url("../images/spring/haru.jpg") no-repeat center /cover;
}

#summer {
  background: url("../images/summer/summer.jpg") no-repeat center /cover;
}

#autumn {
  background: url("../images/autumn/fall.jpg") no-repeat center /cover;
}

#winter {
  background: url("../images/winter/fuyu.jpg") no-repeat center /cover;
}

#contact {
  background: url("../images/winter/fuyu.jpg") no-repeat center /cover;
}

.pageChange {
  font-size: 16px;
  transform: translateY(-50%);
  position: fixed;
  right: 3%;
  top: 23%;
  z-index: 10;
}

.pageChange a {
  height: 25px;
  padding: 8px;
  margin-bottom: 7px;
  color: #fff;
  display: block;
  position: relative;
}

.pageChange a.active:after {
  box-shadow: inset 0 0 0 5px;
}

.pageChange a .textOpacity {
  padding-right: 15px;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  right: 15px;
}

.pageChange a:hover .textOpacity {
  opacity: 1;
}

.pageChange a:after {
  content: "";
  width: 10px;
  height: 10px;
  margin: auto;
  border: 1px solid;
  border-radius: 50%;
  transition: box-shadow 0.5s ease;
  display: block;
  position: absolute;
  top: 0;
  right: 3px;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .pageChange a .textOpacity {
    display: none;
  }
}

#summer h2 {
  color: #fff;
}

#sns img {
  width: 20px;
}

#sns {
  display: flex;
  position: fixed;
  top: 25px;
  right: 25px;
}

#sns li {
  margin: 0 20px;
}

#sns a {
  transition: all 0.5s;
}

#sns a:hover {
  opacity: 0.5;
}

.descript_box {
  width: 100%;
  max-width: 300px;
  padding: 45px;
  margin: 0 0 0 45px;
  text-align: left;
  letter-spacing: 0.03em;
  background: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 768px) {
  .descript_box{
    margin: 0;
  }
}

.descript_box h2 {
  margin: 0 0 40px 0;
  font-size: 15px;
  color: #333;
  line-height: 1.8;
  font-family: "Baskervville", serif;
  text-align: center;
}

.descript_box h2 span {
  font-size: 20px;
  display: block;
}

.descript_box p {
  margin: 0 0 45px 0;
}



small{
  color: #fff;
  letter-spacing: 0.1em;
  line-height: 1;
  writing-mode: vertical-rl;
  position: fixed;
  top:40%;
  left:20px;
}